<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Animator's Gallery</title>
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400" rel="stylesheet">
    <link rel="stylesheet" href="/styles.css">
</head>
<header class="site-header">
    <a href="/">
        <h1>Animator's Gallery</h1>
    </a>
    <nav>
        <ul>
            <li>
                <a href="/gallery">Gallery</a>
            </li>
            <li>
                <a href="/blog">Blog</a>
            </li>
            <li>
                <a href="/commissions">Commissions</a>
            </li>
            <li>
                <a href="/artistInfo">Artist's Info</a>
            </li>
            <!--<li>-->
                <!--<a href="/contact">Contact</a>-->
            <!--</li>-->
        </ul>
    </nav>
</header>

<!--<main role="main">-->
    <!--{{{ body }}}-->
<!--</main>-->

<!--Pulling the slideshow from the warmup exercise-->
<!--<body>-->
<!--<h1 class="c-title">Animation (can we make this look at the folder name for a name?)</h1>-->
<!--<div class="c-gallery-container">-->
    <!--<ul class="c-gallery js-gallery">-->
        <!--<li class="c-gallery__item js-gallery-item" style="background-image: url('images/01.jpeg')"></li>-->
        <!--<li class="c-gallery__item js-gallery-item" style="background-image: url('images/02.jpeg')"></li>-->
        <!--<li class="c-gallery__item js-gallery-item" style="background-image: url('images/03.jpeg')"></li>-->
        <!--<li class="c-gallery__item js-gallery-item" style="background-image: url('images/04.jpeg')"></li>-->
    <!--</ul>-->
<!--</div>-->
<!--<div class="c-nav-list-container">-->
    <!--<ul class="c-nav-list js-nav-list">-->
        <!--<li class="c-nav-list__item">-->
            <!--<a href="#" data-direction="right">></a>-->
        <!--</li>-->
    <!--</ul>-->
<!--</div>-->
<!--<script src="index.js"> </script>-->
<!--</body>-->


<footer class="site-footer">
    Copyright 2017
    <li>
        <a href="/contact">Contact the Artist</a>
    </li>
</footer>

</body>
</html>
