<!DOCTYPE html>
<html>
<head>
<style>
    table, td, td {
        border: 1px solid black;
        border-collapse: collapse;
    }
    th, td {
        padding: 5px;
    }
    th {
        text-align: center;
    }
</style>
</head>
<body>
<h1>Scope, Commission Rate, and Payment</h1>
<h2><p>After Artist and client discuss the scope of the project, the artist will quote the closest estimate possible for the commission price to the client.  On receipt of deposit (50% of the estimated total) the artist will begin work.  Thumbnails of the in-progress work will be delivered by the artist at specified times for review. When the project is completed, artist will retain full sized files/prints until the rest of the payment has been processed.</h2></p>

<h1><p>Base Prices of Commission, and What That Includes</h1></p>


<table style="width:100%">
    <tr> <th> Chibi Portraits </th>
        <th> Portraits </th></tr>

    <tr> <td>Blue Pencil Sketch - $3</td>
        <td>Blue Pencil/Rough - $5</td> </tr>
    <tr>  <td>Ink/Linework - $5</td>
        <td>Ink/Linework - $10</td></tr>
    <tr>  <td>Flat Color - $10</td>
        <td>Flat Color - $15</td></tr>
    <tr>  <td>Shaded/Simple BG - $15</td>
        <td>Shaded - $20</td></tr>
    <tr> <td> </td>
        <td>Background/FX - $25</td></tr>

    <tr> <th> Partial </th>
        <th> Full Body </th></tr>

    <tr> <td>Blue Pencil/Rough - $15</td>
        <td>Blue Pencil/Rough - $25</td> </tr>
    <tr>  <td>Ink/Linework - $30</td>
        <td>Ink/Linework - $40</td></tr>
    <tr>  <td>Flat Color - $40</td>
        <td>Flat Color - $50</td></tr>
    <tr>  <td>Shaded - $50</td>
        <td>Shaded - $60</td></tr>
    <tr> <td>Background/FX - $65</td>
        <td>Background/FX - $75</td></tr>


    <tr> <th> Animated Portrait Addon </th>
        <th> YCH Emoji/Stickers </th></tr>
    <tr> <th> (5 frame loop addition to any of the above options) </th>
        <th> (Full color or cell shading) </th></tr>

    <tr> <td>Blue Pencil/Rough - $20</td>
        <td>Single - $15</td> </tr>
    <tr>  <td>Ink/Linework - $20</td>
        <td>5 pack - $70</td></tr>
    <tr>  <td>Flat Color - $45</td>
        <td>10 pack - $140</td></tr>
    <tr>  <td>Shaded - $75</td>
        <td>15 pack - $200</td></tr>
    <tr> <td>Background/FX - $125</td>
        <td>20 pack - $275</td></tr>


    <tr> <th> Full Body 3 Step Rotation </th>
        <th> Full Body 5 Step Rotation </th></tr>

    <tr> <td>Blue Pencil/Rough - $40</td>
        <td>Blue Pencil/Rough - $50</td> </tr>
    <tr>  <td>Ink/Linework - $60</td>
        <td>Ink/Linework - $80</td></tr>
    <tr>  <td>Flat Color - $75</td>
        <td>Flat Color - $100</td></tr>
    <tr>  <td>Shaded - $90</td>
        <td>Shaded - $120</td></tr>


    <tr> <th> Character Sheet </th>
        <th> Animation Loop (Up to 15 Frames)  </th></tr>
    <tr> <th> (Front, Back, 5 Facial Expressions) </th>
        <th> (standalone project) </th></tr>

    <tr> <td>Blue Pencil/Rough - $45</td>
        <td>Blue Pencil/Rough - $75</td> </tr>
    <tr>  <td>Ink/Linework - $70</td>
        <td>Ink/Linework - $200</td></tr>
    <tr>  <td>Flat Color - $85</td>
        <td>Flat Color - $250</td></tr>
    <tr>  <td>Shaded - $105</td>
        <td>Shaded - $350</td></tr>
    <tr> <td>Additional Facial Expressions - $15 each</td>
        <td>Background/FX - $475</td></tr>

</table>
<h3><p>For commission inquiries that do not fall within these categories (e.g. longer animation, storyboarding, calligraphy, comics, book covers, internal magazine/book illustrations, costuming, sculpture, zBrush design, logo design, web design) please contact the artist directly at bluestonearcher@gmail.com with a clear description of what is needed for your project.</h3></p>

<h2><p>If the client wishes to add more characters to their image, there will be a fee will be an additional 25% (of the base amount) for each character added; 4 additional characters, maximum.  Additional characters addon is available for the partial and full length images, animated portraits, or animated loops.</p>

    <p>Animation blue pencil/roughs will (generally) be far less detailed than roughs intended for full rendering; the artist will be attempting to ensure that the motion the client is looking for has been captured in the correct spirit.  Details will come into focus at the ink/linework stage of the project.</p>

    <p>The base price at each tier includes two review/revision sessions at each stage (the roughs stage includes two review/revision sessions, ink includes four, flat color includes six, etc).  Further revisions are offered at additional charge, which is clarified below under the Additional Edits heading.</p>

    <p>For traditional media commissions, the artist will make as many revisions as the client wishes (within reason) at the pencil stage, as with traditional materials, it’s much more difficult/time consuming to edit once a pigment is actually down on paper/canvas, and a project might very well have to be restarted wholecloth if the client is not satisfied.  Watercolor prices are based off of the “Shaded” price point of each type.  Acrylic/oil/tattoo prices are based off of Background/FX prices.</p>

    <p>Animation addons are not available in traditional paintings at the moment.</h2></p>

<p><h1>Things that might affect the final cost:</h1></p>
<p><h2>- If the project simplifies, or simply takes less time than the artist originally estimated</p>
<p>- Project Additions</p>
<p>- Additional Edits</p>
<p>- Rush charges. Need it fast? I’ll do my best.</p>
<p>- Reworks/Finishing a previous project</p></h2>

<p><h1>Project Simplification</h1></p>
<p><h2>If the client wishes to simplify the scope of the project part way through, or if the project ends up taking less time than estimated, the artist will adjust the price accordingly on the final invoice.</p></h2>

<p><h1>Project Additions</h1></p>
<p><h2>If, partway through the process, the client decides that they would like to broaden the scope, the artist is happy to help.  This will be discussed on a case-by-case basis, but will generally follow the manner listed above.  All additions must be approved of by client and artist, added to the commission contract, and initialed by both parties to ensure clarity. Artist will provide as accurate an adjustment of final price as possible, but the client must be aware that not all changes can be predictable.</p></h2>

<p><h1>Additional Edits</h1></p>
<p><h2>To encourage clarity in correction requests, if further revisions are needed past those offered with the base commission price, additional review/revision sessions are available at a tiered rate.

<p>Blue Pencil/Rough	-	$5/each add’l edit</p>
<p>Ink/Linework		-	$10/each add’l edit</p>
<p>Flat Color		-	$15/each add’l edit</p>
<p>Shading		-	$25/each add’l edit</p>
<p>Background/FX	-	$40/each add’l edit</p></h2>

<p><h1>Live Edit Request</h1></p>
<p><h2>Live edits are a treated as a separate entity from the edit requests listed above, and as such will not be included any of the counts.  Generally, a live edit request is best utilized early in the process.  The artist and client will agree upon a time where they can meet (either digitally or in person) and the artist will attempt to address whatever changes the client needs, while the client is there, with the artwork in front of both individuals.  This will be charged at a rate of $15/hour.  (As fair warning, the artist is fast at the blue pencil stage, and slow as shit at the detailed background stage, and the live work is CHARGED BY THE HOUR.)  The minimum amount charged is for 1 hour ($15) and will be added to the total.</p></h2>

<p><h1>Rush Charges</h1></p>
<p><h2>If the client has a short deadline, the artist has a tiered Rush option, similar in the same manner as the edit fee, to reflect the amount of work that goes into each stage.  Once the artist and client have agreed on the scope, each stage will be completed within 24 hours.  Please ensure that the client is available for clarification.  As with a normal commission, regular status images will be sent to the client, two per stage; if no edit requests have been declared within the 24 hour period, the artist will assume that all is well and will continue onto the next stage of the commission, in the interest of completing the client’s work as fast as possible.</p>

<p>Blue Pencil/Rough (within 24 hrs)	- 	$25</p>
<p>Ink/Linework (within 48 hrs)		-	$45</p>
<p>Flat Color (within 72 hrs)		-	$55</p>
<p>Shading (within 96 hrs)		-	$75</p>
<p>Background/FX (within 120 hrs)	-	$125</p>

<p>The Rush Service is not available for traditional acrylic painting, tattoo templates, or animations. Thank you for your understanding.</p></h2>

<p><h1>Referrals, Repeat Clients, Patreon Supporters, and Finishing a Previous Project</h1></p>
<p><h2>The artist is always happy to work with previous clients who wish to return for more art!  If, for example, a client wishes to bring an inked piece back to be colored and shaded, the cost of the original piece will be subtracted from what would be quoted for a fully shaded/rendered commission.</p>

<p>The artist reserves the right to turn away any client attempting to have a piece finished that was originally begun by a different artist, unless the original artist has provided clear written consent and/or can be contacted to verify consent.</p>

<p>Repeat clients are also valued at all tiers.  A percentage discount will be applied the next commission, based off of the most recent project.</p>

<p>Blue Pencil/Rough	- 	5% off next commission</p>
<p>Ink/Linework 		-	10% off next commission</p>
<p>Flat Color		-	15% off next commission</p>
<p>Shading		-	20% off next commission</p>
<p>Background/FX	-	25% off next commission</p>

<p>If you’re a Patreon supporter, go ahead and take off twice what your supporter amount is, just for being that awesome!</p>

<p>For each successful Referral the client makes, a $5 credit will be instated towards their next project.</p>

<p>Disclaimers: These discounts are made with the exception of animation projects. Patreon supporter discount will take effect after one full month of support and cleared payment from that support.  While the artist is happy to combine these  discounts, the end commission amount will not go below $3/commission. The discounts will be applied on the commission itself, not on printing/shipping/handling or any Rush Charges.</p></h2>

<p><h1>Subject Matter</h1></p>
<p><h2>While the artist is fairly liberal-minded in many matters, some subjects will not be depicted; please do not request the following:</p>

<p>-minors in adult situations (eg, sexual, drug paraphernalia, alcohol, violence, etc)</p>
<p>-general drug paraphernalia</p>
<p>-extreme, graphic violence (especially in conjunction with sexual situations)</p>
<p>-violence against animals of any kind</p>
<p>-sexualization of victimized women</p>
<p>-pro-racist subjects</p>
<p>-pro-anti-abortion subjects</p>
<p>-non-consensual subjects</p>
<p>-extreme hyper anatomy</p>
<p>-anti-feminist themes</p>

<p>For a more detailed list, please contact the artist directly at bluestonearcher@gmail.com.
If you have any questions, please feel free to contact and clarify.</p></h2>

<p><h1>Ownership of Materials</h1></p>
<p><h2>Unless otherwise contracted with the artist...</p></h2>

<p><h1>Cancellation of Contract</h1></p>
<p><h2>If the artist is unable to fufill the commission and must cancel it, the client may choose to...</p></h2>

<p><h1>Delivery of Project</h1></p>
<p><h2>Delivery of final project will be assumed to be completely digital, unless otherwise specified by the client.  If a physical copy is required/requested, the client will pay exact shipping/handling fees from the client’s prefered shipping agency.  A “physical copy” includes, but isn't limited to, original sketches, final giclée prints, USB drive, DVD, and/or other merchandise; the exact manner of physical copy will be agreed upon by client and artist at the beginning of the project.</p>

<p>In the case of animations and other size-heavy files, a dropbox link will be provided for the client to download locally.  This will be available to them for three weeks (21 days) free of charge; thereafter a charge of $1/day (per gigabyte, with a minimum fee of one gigabyte) for storage will be applied/invoiced.</p></h2>


</body>
</html>